@font-face{
    src:url(../fonts/Roboto-Regular.ttf);
    font-family:"Roboto-Regular";
}

@font-face{
    src:url(../fonts/Roboto-Medium.ttf);
    font-family:"Roboto-Medium";
    
}

@font-face{
    src:url(../fonts/Roboto-Bold.ttf);
    font-family:"Roboto-Bold";
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body {
      font-family:'Roboto-Regular';
      background-color:#D9DFE7;
    }

    /* Generics Styles */
    .status--active {
        color: #00A5DD !important;
    }

    .status--received {
        color: #30D38F !important;
    }

    .status--waiting {
        color: #FDAA8B !important;
    }

    .bk-status--received {
        background-color: #30D38F !important;
    }

    .bk-status--waiting {
        background-color: #FDAA8B !important;

    }

header{
    font-family:'Roboto-Regular';
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
     background-color:#00A5DD;
     background-image:linear-gradient(180deg,#00A5DD,#46BEE6);
     height:150px;
     color: white;
}

.persona1{
    background-image: url(../../../pfk01.png);
}

.persona2{
    background-image: url(../../../pfk03.png);
}

.persona3{
    background-image: url(../../../pfk06.png);
}

.persona4{
    background-image: url(../../../pfk07.png);
}

header h1{

    font-size:22px;

}

header i{

font-size:20px;

}

.search-box{
    display:flex;
    justify-content:space-between;
    width:50px;
}
/* MAIN */
.page-content {
    margin-bottom: 80px;
}

.card-box{
    position: relative;
    top: -30px;
    left: 0px;
    width:90%;
    margin:0 auto 20px;
    padding:10px 20px;
    background-color:#fff;
    border-radius:5px;
}

.card-title{
        font-family:"Roboto-Medium";
        font-size:14px;
        margin-bottom:10px;

}

.card {
    display:flex;
    justify-content:space-between;
    border-bottom:0.5px solid #e5e4e4;
    padding:20px 0;
}

.card-perfil{
    position: relative;
    width:55px;
    height:55px;
   /* background-image: url(../images/pfk01.jfif);*/
   background-color: aqua;
    background-repeat:no-repeat;
    background-size:contain;
    border-radius:10px;
}

.card-counter {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    color: white;

    position: absolute;
    bottom: 0px;
    right: -7px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #30D38F;
    
}

.card-info{
    width:60%;
}

.card-name{

    margin-top:5px;
}

.card-status{

    margin-top:5px;
    font-size:13px;
}

.card-price{
     font-family:"Roboto-Bold";

}
