@font-face{
    src:url(../fonts/Roboto-Regular.ttf);
    font-family:"Roboto-Regular";
}

@font-face{
    src:url(../fonts/Roboto-Medium.ttf);
    font-family:"Roboto-Medium";
    
}

@font-face{
    src:url(../fonts/Roboto-Bold.ttf);
    font-family:"Roboto-Bold";
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}



body {
      font-family:'Roboto-Regular';
      background-color:#D9DFE7;
    }

    /* Generics Styles */
    .status--active {
        color: #00A5DD !important;
    }

    .status--received {
        color: #30D38F !important;
    }

    .status--waiting {
        color: #FDAA8B !important;
    }

    .bk-status--received {
        background-color: #30D38F !important;
    }

    .bk-status--waiting {
        background-color: #FDAA8B !important;

    }

header{
    font-family:'Roboto-Regular';
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
     background-color:#00A5DD;
     background-image:linear-gradient(180deg,#00A5DD,#46BEE6);
     height:150px;
     color: white;
}

.persona1{
    background-image: url(../images/pfk01.png);
}

.persona2{
    background-image: url(../images/pfk03.png);
}

.persona3{
    background-image: url(../images/pfk06.png);
}

.persona4{
    background-image: url(../images/pfk07.png);
}

header h1{

    font-size:22px;

}

header i{

font-size:20px;

}

.search-box{
    display:flex;
    justify-content:space-between;
    width:50px;
}
/* MAIN */
.page-content {
    margin-bottom: 80px;
}

.card-box{
    position: relative;
    top: -30px;
    left: 0px;
    width:90%;
    margin:0 auto 20px;
    padding:10px 20px;
    background-color:#fff;
    border-radius:5px;

}

.card-title{
        font-family:"Roboto-Medium";
        font-size:14px;
        margin-bottom:10px;

}

.card {
    display:flex;
    justify-content:space-between;
    border-bottom:0.5px solid #e5e4e4;
    padding:20px 0;
}

.card-perfil{
    position: relative;
    width:55px;
    height:55px;
   /* background-image: url(../images/pfk01.jfif);*/
    background-repeat:no-repeat;
    background-size:contain;
    border-radius:10px;
}

.card-counter {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    color: white;

    position: absolute;
    bottom: 0px;
    right: -7px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #30D38F;
    
}

.card-info{
    width:60%;
}

.card-name{

    margin-top:5px;
}

.card-status{

    margin-top:5px;
    font-size:13px;
}

.card-price{
     font-family:"Roboto-Bold";

}

    footer {
    text-align: center;
    
    }
    .menu-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;

    /* height: 50px; */
    width: 100%;
    padding: 12px;
    border-radius: 10px 10px 0 0;

    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    }
    .menu-item{
        color: grey;
        font-size: 20px;
    }

/* BREAKPOINTS */

/* Tablets */
@media screen and (min-width:768px) {
    /* css do cabeçalho */
    header{
        /* padding: 10px 30px; */
        padding-left: 30px;
        padding-right: 30px;
        height: 180px;
    }
    
    header h1{
        font-size: 32px;
    }
    .search-box {
        width: 60px;
    }

    header i {
        font: 24px;
    }

    /* css do main */



    .card-title {
        font-size: 20px;    
    }
    .card-perfil {
        width: 85px;
        height: 85px;
    }
    .card-counter {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }
    .card-name {
        font-size: 24px;
    }
    .card-status {
        font-size: 18px;
    }
    .card-price {
        font-size: 24px;
    }

    /* footer */
    .menu-bottom {
        height: 85px;
    }

    .menu-item {
         font-size: 30px; 
    } 

}

/* Desktop */
@media screen and (min-width:992px) {
    .card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        max-width: 950px;

    }

    .card-title {
        width: 100%;
    }

    .card{
        
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        
        width: 150px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);    /*dh- deslocamento horizontal, dv- deslocamento vertical, borrado e cor */
        transition: box-shadow 0.3s;
        /* border: 1px solid green;  */
    }

    .card:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
    }

    .card-info { 
        width: 80%;
        margin-top: 18px; 
    } 
    .card-name {
        font-size: 14px;
        text-align: center;
    }

    .card-status {
        font-size: 12px;
        text-align: center;

    }

    .card-price {
        margin-top: 18px;
        font-size: 14px;
        text-align: center;
    }

    .card-perfil {
        /* border: 1px solid red; */
        width: 105px;
        height: 105px;   
    }

    .card-counter {
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        border-radius: 20%;
        font-size: 16px;
    }

    .menu-bottom {
        left: auto;
        right: 10px;
        top: 50%;
        width: 40px;
        height: 200px;
        padding: 10px;

        background-color: white;
        border-radius: 15px;
        /* border: 1px solid #00A5DD; */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }

    .menu-item {
        font-size: 25px;
        color : #b0b2b5;
        transition: color 0.3s;
    }

    
    
}

/*Desktop - Telas Largas */
@media screen and (min-width:1200px) {
    /* main */
    .page-content {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        /* border: 3px solid red; */
    }
}